{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {% block title %} <title>Talina School | Log In </title> {% endblock title %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'login/css/mdb.min.css' %}"/>
    <style>
     body {
           background-color: #fff;
     }
     form{
         padding-top: 25vh;
         margin: auto;
         width: 320px;
       }
   </style>
  </head>
  <body>
    <!-- Login starts here-->
    <div class="container mt-0 mb-8">
        {% block content %}
       <form class="needs-validation"  method="post" action="{% url 'login' %}" novalidate>
         {% csrf_token %}
        <img class="mb-3" src="{% static 'dist/img/tilina-logo.jpeg' %}" alt="tilina-logo" style="width: 120px; margin: auto; display: block;">
           <h4 class="text-center">Tilina FMS Login</h4>
        <span class="text-danger mb-2">
{% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
{% endif %}
           {% if next %}
           {% if user.is_authenticated %}
           <p class="error-msg"> Your account doesn't have access to this page. To proceed,
           please login with an account that has access.</p>
           {% else %}
       </span>
{% endif %}

{% endif %}

        </span>
      <!-- Username input -->
      <div class="form-outline mb-4">
        <input type="text" id="id_username" name="username"  class="form-control" required/>
        <label class="form-label" for="username">Username</label>
        <div class="invalid-feedback">Please provide username</div>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="id_password" class="form-control" name="password" required/>
        <label class="form-label" for="password">Password</label>
        <div class="invalid-feedback">Please provide password</div>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col">
          <!-- Simple link -->
          <a href="{% url 'password_reset' %}">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block btn-lg">
          <i class="fas fa-sign-in-alt"></i> Sign In</button>
      <input type="hidden" name="next" value="{{ next }}">

    </form>
        {% endblock content %}
    </div>

    {% block morejs %}
    <script type="text/javascript" src="{% static 'login/js/mdb.min.js' %}"></script>
    {% endblock morejs %}

    {% block customscript %}
    <!-- Custom scripts -->
    <script type="text/javascript">
      // Validation
    (() => {
      'use strict';

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation');

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms).forEach((form) => {
        form.addEventListener('submit', (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    })();
    </script>
  {% endblock customscript %}
  </body>
</html>
