{% extends 'registration/login.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} <title>Talina School | Password Reset </title> {% endblock title %}

{% block content %}
        <form method="POST">
            <img class="mb-3" src="{% static 'dist/img/tilina-logo.jpeg' %}" alt="tilina-logo" style="width: 120px; margin: auto; display: block;">
            {% csrf_token %}
            <h5 class="text-center">Create New Password </h5>
            {{ form | crispy  }} <br>
            <button type="submit" class="btn btn-success btn-block btn-lg">Confirm New Password</button>
        </form>

{% endblock content %}

{% block morejs %}

{% endblock morejs %}

{% block customscript %}
<!-- Custom scripts -->

{% endblock customscript %}
