{% extends 'registration/login.html' %}
{% load static %}

{% block title %} <title>Talina School | Password Reset </title> {% endblock title %}


{% block content %}
    <form>
        <img class="mb-3" src="{% static 'dist/img/tilina-logo.jpeg' %}" alt="tilina-logo" style="width: 120px; margin: auto; display: block;">
           <h4 class="text-center">Tilina FMS Password Reset</h4>
        <div class="alert alert-info">
            We've emailed you instructions for setting your password.
            You should receive the email!. If it is not in your inbox check your spam folder.
        </div>
    </form>

{% endblock content %}






{% block morejs %}

{% endblock morejs %}

{% block customscript %}
<!-- Custom scripts -->

{% endblock customscript %}