{% extends 'registration/login.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} <title>Talina School | Password Reset </title> {% endblock title %}


{% block content %}
<img class="mb-3" src="{% static 'dist/img/tilina-logo.jpeg' %}" alt="tilina-logo" style="width: 120px; margin: auto; display: block;">
<h4 class="text-center">Tilina FMS Password Reset</h4>
<h5 class="alert alert-success text-center">Your password reset successfuL.<span class="fa fa-check"></span></h5>
<center><a class="btn btn-primary btn-lg " href="{% url 'login' %}">Click to Login</a></center>
{% endblock content %}

{% block morejs %}

{% endblock morejs %}

{% block customscript %}
<!-- Custom scripts -->

{% endblock customscript %}

